.gridContainer {
  text-decoration: none;
}

.grid {
  display: flex;
  flex-direction: column; /* Alinhamento vertical */
  gap: 1.5rem; /* Espaço entre os itens */
  width: 250px; /* Largura fixa para a grade */
  padding: 2rem; /* Padding para destaque */
  background-color: var(--darkgrey);
  border-radius: 0.8rem;
  border: 2px solid var(--darkgrey);
  cursor: pointer; /* Cursor de pointer para interação */
}

.grid:hover {
  border: 2px solid var(--green);
  transition: all 0.3s;
}

.gridRed:hover {
  border-color: var(--red);
}

.tdImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coinImg {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.tdInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem; /* Espaço entre os itens de informação */
}

.coinSymbol {
  text-transform: uppercase; /* Transformação para maiúsculas */
  font-weight: 600;
  margin: 0rem;
}

.coinName {
  margin: 0;
  font-weight: 400; /* Peso da fonte */
  color: var(--grey);
  font-size: 0.8rem; /* Tamanho da fonte do nome do coin */
}

.tdChange {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* Espaço entre os chips */
}

.priceChip {
  border: 2px solid var(--green);
  border-radius: 2rem; /* Formato circular para o chip de preço */
  padding: 0.25rem 1rem; /* Padding do chip de preço */
  font-weight: 600;
  color: var(--white);
}

.priceChip:hover {
  background-color: var(--green);
  color: var(--white);
  transition: all 0.3s;
}

.red {
  border: 2px solid var(--red) !important;
}

.red:hover {
  background-color: var(--red);
  color: var(--white);
  transition: all 0.3s;
}

.chipIcon {
  padding: 0.2rem; /* Padding para o ícone do chip */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Formato circular para o ícone */
}

.currentPrice {
  color: var(--green); /* Cor verde para o preço atual */
  font-weight: bold;
  font-size: 1.1rem; /* Tamanho do preço */
  margin: 0; /* Remover margem */
}

.coinMarketcap {
  color: var(--grey);
  font-size: 0.9rem;
  font-weight: 400;
}

.watchlistIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--green);
  border-radius: 50%; /* Formato circular */
  padding: 0.5rem;
  height: 1.5rem;
  width: 1.5rem !important; /* Importante para forçar o tamanho */
}
.watchlistIcon:hover {
  background-color: var(--green);
  color: var(--white);
  transition: all 0.3s;
}
.watchlistIconRed {
  border: 2px solid var(--red);
}
.watchlistIconRed:hover {
  background-color: var(--red);
  color: var(--white);
  transition: all 0.3s;
}
/* Responsividade */
@media only screen and (max-width: 900px) {
  .tdChange {
    font-size: 0.8rem;
  }

  .coinImg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .coinMarketcap {
    display: none; /* Ocultar market cap em telas menores */
  }

  .tdInfo {
    width: 4rem !important; /* Largura reduzida para info */
  }

  .coinImg {
    height: 2rem;
    width: 2rem;
  }

  .priceChip {
    font-size: 0.7rem;
    padding: 0.2rem 0.8rem;
  }
}
